@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #FEFDF5;
    color: #555555;
    -webkit-font-smoothing: antialiased;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #EBCBCB;
  border-radius: 10px;
}

